// /scss/main.scss
// -----------------------------------------------------------------------------
// MAIN SASS FILE - PROYECTO CIDET
// Compilar: npx sass --watch scss/main.scss:css/main.css
// -----------------------------------------------------------------------------

// 1. ABSTRACTS
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. BASE
@import 'base/reset';

// 3. LAYOUT
@import 'layout/header';
@import 'layout/grid';
@import 'layout/footer';

// 4. COMPONENTS
@import 'components/buttons';
@import 'components/cards';
@import 'components/sidebar';

// 5. PAGES
@import 'pages/blog';
@import 'pages/contacto';
@import 'pages/cronograma';
@import 'pages/cursos';
@import 'pages/empresas';
@import 'pages/index';
